@use '../../foundations/toolkit' as *;


.#{$prefix}footer {
  padding: $spacing-spacing-8;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-spacing-4;
  align-items: center;

	&__copyright {
		@include typography('caption-l');
		margin: 0;
		margin-right: auto;
		color: $color-text-tertiary;
	}
	
	&__social-links {
		display: flex;
		gap: $spacing-spacing-1;
		list-style: none;
		padding: 0;
		margin: 0;

		/*
		pe-flex pe-btn pe-btn--icon pe-btn--ghost-white
		*/

		&__social-link {
			display: flex;
		}
	}

}
