<ul-modal [(open)]="open" variant="custom" [title]="title()" (closed)="onClosed()">
  @if (imageFile()) {
    <div class="ul-image-cropper">
      <image-cropper
        class="ul-image-cropper__frame"
        [imageFile]="cropperImageFile()"
        [maintainAspectRatio]="isLocked()"
        [aspectRatio]="effectiveAspectRatio()"
        [roundCropper]="isRound()"
        [cropperMinWidth]="minFrameDimension"
        [cropperMinHeight]="minFrameDimension"
        [resizeToWidth]="maxOutputSize()"
        [resizeToHeight]="maxOutputSize()"
        [cropperFrameAriaLabel]="frameAriaLabel()"
        format="jpeg"
        output="blob"
        (cropperReady)="cropperReady.set(true)"
        (loadImageFailed)="loadFailed.emit()"
      />
    </div>
  }

  <div ul-modal-footer>
    <ul-button
      theme="fill-purple"
      size="md"
      [disabled]="!cropperReady()"
      (buttonClick)="onConfirm()"
    >
      {{ confirmLabel() }}
    </ul-button>
  </div>
</ul-modal>
