<ul-modal [(open)]="open" variant="custom" [title]="title()" (closed)="onCancel()">
  @if (imageFile()) {
    <div class="ul-image-cropper">
      <image-cropper
        class="ul-image-cropper__frame"
        [imageFile]="cropperImageFile()"
        [maintainAspectRatio]="isLocked()"
        [aspectRatio]="effectiveAspectRatio()"
        [roundCropper]="isRound()"
        [cropperStaticWidth]="frameWidth()"
        [cropperStaticHeight]="frameHeight()"
        [allowMoveImage]="isLocked()"
        [transform]="transform()"
        [resizeToWidth]="maxOutputSize()"
        [resizeToHeight]="maxOutputSize()"
        [cropperFrameAriaLabel]="frameAriaLabel()"
        format="jpeg"
        output="blob"
        (cropperReady)="cropperReady.set(true)"
        (loadImageFailed)="loadFailed.emit()"
      />

      @if (isLocked()) {
        <label class="ul-image-cropper__zoom">
          <span class="ul-image-cropper__zoom-label">{{ zoomLabel() }}</span>
          <input
            type="range"
            class="ul-image-cropper__zoom-input"
            [min]="minZoom"
            [max]="maxZoom"
            [step]="zoomStep"
            [value]="zoom()"
            (input)="onZoomInput($event)"
          />
        </label>
      }
    </div>
  }

  <div ul-modal-footer>
    <ul-button theme="ghost-white" size="md" (buttonClick)="onCancel()">
      {{ cancelLabel() }}
    </ul-button>
    <ul-button
      theme="fill-purple"
      size="md"
      [disabled]="!cropperReady()"
      (buttonClick)="onConfirm()"
    >
      {{ confirmLabel() }}
    </ul-button>
  </div>
</ul-modal>
