<nav class="pe-navbar" role="navigation">
  <div class="pe-navbar__bar">
    <div class="pe-navbar__logo">
      @if (showToggle()) {
        <pe-button
          theme="ghost-white"
          [iconOnly]="true"
          size="sm"
          class="pe-navbar__sidebar_toggle"
          ariaLabel="Open menu"
          [attr.aria-expanded]="sidebarOpen()"
          (buttonClick)="toggleSidebar()"
        >
          <pe-icon icon="menu" size="6" />
        </pe-button>
      }
      @if (hasLogoSlot()) {
        <ng-content select="[pe-navbar-logo]" />
      } @else {
        <img [src]="logoSrc()" [alt]="logoAlt()" class="pe-navbar__logo-img" height="32" />
        <a [href]="logoHref()" class="pe-navbar__logo-link pe-navbar__logo-text">Pinake</a>
      }
    </div>

    @if (hasSearchSlot()) {
      <pe-button
        theme="ghost-white"
        [iconOnly]="true"
        class="pe-navbar__search-toggle"
        ariaLabel="Toggle search"
        [attr.aria-expanded]="searchExpanded()"
        (buttonClick)="toggleSearch()"
      >
        <pe-icon icon="search" size="6" />
      </pe-button>
    }

    <div
      class="pe-navbar__search-wrapper"
      [class.pe-navbar__search-wrapper--expanded]="searchExpanded()"
    >
      <ng-content select="[pe-navbar-search]" />
    </div>

    <div class="pe-navbar__avatar">
      @if (hasAvatarSlot()) {
        <ng-content select="[pe-navbar-avatar]" />
      } @else if (avatarSrc() || avatarInitials()) {
        <pe-avatar
          [src]="avatarSrc()"
          [initials]="avatarInitials()"
          [alt]="avatarAlt()"
          size="md"
        />
      }
    </div>
  </div>
</nav>
