<div
  class="pe-textarea pe-textarea--{{ size() }}"
  [class.pe-textarea--error]="hasError()"
  [class.pe-textarea--disabled]="disabled()"
  [class.pe-textarea--read-only]="readOnly()"
  [class.pe-textarea--required]="required()"
  [class.pe-textarea--resize-none]="resize() === 'none'"
  [class.pe-textarea--resize-vertical]="resize() === 'vertical'"
  [class.pe-textarea--resize-horizontal]="resize() === 'horizontal'"
  [class.pe-textarea--resize-both]="resize() === 'both'"
  [attr.aria-invalid]="hasError()"
  [attr.aria-required]="required()"
  [attr.aria-describedby]="describedBy()"
>
  <pe-form-field-label
    [label]="label()"
    [required]="required()"
    [for]="ids.controlId"
    [size]="size()"
  />

  <div
    class="pe-textarea__group"
    [class.pe-textarea__group--focused]="groupFocusedState()"
    [style.--pe-textarea-rows]="rows()"
  >
    <div class="pe-textarea__left-elements">
      <ng-content select="[pe-textarea-left-elements]" />
    </div>

    <ng-content select="[pe-textarea-field]" />
    @if (!customField()) {
      <textarea
        [id]="ids.controlId"
        class="pe-textarea__field"
        [placeholder]="placeholder()"
        [value]="value()"
        (input)="onInput($event)"
        (blur)="onBlur($event)"
        (focus)="onFocus($event)"
        [disabled]="disabled()"
        [readonly]="readOnly()"
        [required]="required()"
        [attr.maxlength]="maxLength()"
        [attr.minlength]="minLength()"
        [attr.autocomplete]="autocomplete()"
        [attr.rows]="rows()"
        [attr.aria-invalid]="hasError()"
        [attr.aria-required]="required()"
        [attr.aria-describedby]="describedBy()"
      ></textarea>
    }

    <div class="pe-textarea__right-elements">
      <ng-content select="[pe-textarea-right-elements]" />
    </div>
  </div>

  <pe-form-field-helper
    [id]="ids.helperId"
    [helperText]="helperText()"
    [errorText]="(errorText() || (hasError() && errors().length ? errors()[0].message : null)) ?? null"
    [error]="hasError()"
  />
</div>
