@if (loading()) {
  <div class="ul-card__skeleton">
    <div class="ul-card__media">
      <ul-skeleton variant="rect" borderRadius="lg" [show]="true" />
    </div>
    <div class="ul-card__content">
      <div class="ul-card__content-title ul-card__content-title--single-line">
        <ul-skeleton variant="text" [lines]="2" borderRadius="sm" />
      </div>
      <div class="ul-card__content-subtitle ul-card__content-subtitle--single-line">
        <ul-skeleton variant="text" [lines]="1" borderRadius="sm" />
      </div>
    </div>
  </div>
} @else {
  <div class="ul-card__media">
    <ng-content select="[ulCardMedia]" />
    <ng-content select="[ulCardMediaOverlay]" />
  </div>
  <div class="ul-card__media-action">
    <ng-content select="[ulCardMediaAction]" />
  </div>

  <div class="ul-card__content">
    @if (cardCaption()) {
      <div class="ul-card__content-caption">
        {{ cardCaption() }}
      </div>
    }
    @if (cardTitle()) {
      <div
        class="ul-card__content-title"
        [class.ul-card__content-title--single-line]="cardTitleSingleLine()"
      >
        {{ cardTitle() }}
      </div>
    }
    @if (cardSubtitle()) {
      <div
        class="ul-card__content-subtitle"
        [class.ul-card__content-subtitle--single-line]="cardSubtitleSingleLine()"
      >
        {{ cardSubtitle() }}
      </div>
    }
  </div>

  <div class="ul-card__footer">
    <ng-content select="[ulCardFooter]" />
  </div>
}
